{"swagger":"2.0","info":{"description":"AO Platform API documentation","contact":{},"license":{"name":"123"}},"host":"mywaterv2.amwater.com","basePath":"/","tags":[{"name":"neo-4jconfiguration-resource","description":"Neo 4jconfiguration Resource"},{"name":"user-group-resource","description":"User Group Resource"},{"name":"word-provider-resource","description":"Word Provider Resource"},{"name":"pipeline-resource","description":"Pipeline Resource"},{"name":"vux-resource","description":"Vux Resource"},{"name":"notification-type-resource","description":"Notification Type Resource"},{"name":"usage-event-resource","description":"Usage Event Resource"},{"name":"ui-composer-resource","description":"UI Composer Resource"},{"name":"Admin","description":"Server Status Resource"},{"name":"i-18-n-message-resource","description":"I 18 N Message Resource"},{"name":"screen-resolution-resource","description":"Screen Resolution Resource"},{"name":"layout-resource","description":"Layout Resource"},{"name":"permission-access-right-mapping-resource","description":"Permission Access Right Mapping Resource"},{"name":"pipeline-run-service-resource","description":"Pipeline Run Service Resource"},{"name":"vux-configuration-resource","description":"Vux Configuration Resource"},{"name":"form-element-group-resource","description":"Form Element Group Resource"},{"name":"kdb-datasource-resource","description":"KDB Datasource Resource"},{"name":"auth-type-resource","description":"Auth Type Resource"},{"name":"es-reindex-resource","description":"ES Reindex Resource"},{"name":"account-resource","description":"Account Resource"},{"name":"rbac-ui-resource","description":"Rbac UI Resource"},{"name":"user-resource","description":"User Resource"},{"name":"version-resource","description":"Version Resource"},{"name":"favorite-resource","description":"Favorite Resource"},{"name":"jms-configuration-resource","description":"Jms Configuration Resource"},{"name":"sql-datasource-resource","description":"Sql Datasource Resource"},{"name":"master-data-resource","description":"Master Data Resource"},{"name":"form-element-resource","description":"Form Element Resource"},{"name":"email-configuration-resource","description":"Email Configuration Resource"},{"name":"usage-analysis-resource","description":"Usage Analysis Resource"},{"name":"role-resource","description":"Role Resource"},{"name":"rbac-resource","description":"Rbac Resource"},{"name":"yarn-client-resource","description":"Yarn Client Resource"},{"name":"access-right-resource","description":"Access Right Resource"},{"name":"log-configuration-resource","description":"Log Configuration Resource"},{"name":"config-builder-deployment-resource","description":"Config Builder Deployment Resource"},{"name":"password-validator-resource","description":"Password Validator Resource"},{"name":"app-composer-master-data-resource","description":"App Composer Master Data Resource"},{"name":"domain-element-resource","description":"Domain Element Resource"},{"name":"task-def-resource","description":"Task Def Resource"},{"name":"template-resource","description":"Template Resource"},{"name":"anonymous-controller","description":"Anonymous Controller"},{"name":"recommendation-resource","description":"Recommendation Resource"},{"name":"solution-page-resource","description":"Solution Page Resource"},{"name":"transport-export-resource","description":"Transport Export Resource"},{"name":"solution-ontology-resource","description":"Solution Ontology Resource"},{"name":"o-auth-client-configuration-resource","description":"O Auth Client Configuration Resource"},{"name":"user-preference-resource","description":"User Preference Resource"},{"name":"notification-route-config-resource","description":"Notification Route Config Resource"},{"name":"scheduler-resource","description":"Scheduler Resource"},{"name":"template-category-resource","description":"Template Category Resource"},{"name":"google-search-engine-config-resource","description":"Google Search Engine Config Resource"},{"name":"paymentus-controller","description":"Paymentus Controller"},{"name":"pipeline-ui-resource","description":"Pipeline UI Resource"},{"name":"es-config-user-resource","description":"ES Config User Resource"},{"name":"search-history-resource","description":"Search History Resource"},{"name":"app-store-analytics-resource","description":"App Store Analytics Resource"},{"name":"app-view-update-resource","description":"App View Update Resource"},{"name":"task-type-resource","description":"Task Type Resource"},{"name":"enhanced-portal-config-controller","description":"Enhanced Portal Config Controller"},{"name":"receipt-validation-controller","description":"Receipt Validation Controller"},{"name":"pipeline-template-ui-resource","description":"Pipeline Template UI Resource"},{"name":"transport-import-resource","description":"Transport Import Resource"},{"name":"notification-priority-resource","description":"Notification Priority Resource"},{"name":"refresh-l-2-cache-resource","description":"Refresh L 2 Cache Resource"},{"name":"kafka-configuration-resource","description":"Kafka Configuration Resource"},{"name":"user-invitationt-resource","description":"User Invitationt Resource"},{"name":"cloudseer-pdf-controller","description":"Cloudseer PDF Controller"},{"name":"Vulcan UX","description":"Settings Resource"},{"name":"configuration-resource","description":"Configuration Resource"},{"name":"notification-resource","description":"Notification Resource"},{"name":"session-information-resource","description":"Session Information Resource"},{"name":"expression-engine-configuration-resource","description":"Expression Engine Configuration Resource"},{"name":"python-resource","description":"Python Resource"},{"name":"ui-element-config-resource","description":"UI Element Config Resource"},{"name":"vux-role-mapping-resource","description":"Vux Role Mapping Resource"},{"name":"meta-data-resource","description":"Meta Data Resource"},{"name":"license-resource","description":"License Resource"},{"name":"trendings-resource","description":"Trendings Resource"},{"name":"vux-crud-resource","description":"Vux CRUD Resource"},{"name":"query-builder-resource","description":"Query Builder Resource"},{"name":"user-group-mapping-resource","description":"User Group Mapping Resource"},{"name":"permission-resource","description":"Permission Resource"},{"name":"group-role-mapping-resource","description":"Group Role Mapping Resource"},{"name":"kerberos-configuration-resource","description":"Kerberos Configuration Resource"},{"name":"application-resource","description":"Application Resource"},{"name":"logout-resource","description":"Logout Resource"},{"name":"form-resource","description":"Form Resource"}],"paths":{"/api/KDBdatasource/add":{"post":{"tags":["Admin"],"summary":"Add KDB datasource","description":"Add KDB datasouce","operationId":"addDataSourceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datasource","description":"datasource","required":true,"schema":{"$ref":"#/definitions/KDBDatasourceModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/KDBdatasource/delete/{datasourcename}":{"delete":{"tags":["Admin"],"summary":"Delete KDB datasource","description":"Delete KDB datasouce","operationId":"deleteDataSourceUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasourcename","in":"path","description":"datasourcename","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/KDBdatasource/list":{"get":{"tags":["Admin"],"summary":"Get all KDB datasources","description":"Get all KDB datasouces","operationId":"getAllDataSourcesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/KDBdatasource/{KDBDatasourceName}":{"get":{"tags":["Admin"],"summary":"Get KDB datasource details","description":"Get KDB datasouce details","operationId":"getDatasourceDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"KDBDatasourceName","in":"path","description":"KDBDatasourceName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/account/changepassword":{"post":{"tags":["Security"],"summary":"Change password","description":"Change password","operationId":"changePasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"changePassword","description":"changePassword","required":true,"schema":{"$ref":"#/definitions/ChangePassword"}},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/active/sessions/count":{"get":{"tags":["Security"],"summary":"Active sessions count","description":"Active sessions count","operationId":"getActiveSessionsCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/activate/user":{"post":{"tags":["Security"],"summary":"Active or deactive user by email","description":"Active or deactive user by email","operationId":"activateUserByEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"},{"name":"active","in":"query","description":"active","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/email/config":{"get":{"tags":["Admin"],"summary":"Get email configuration","description":"Get email configuration","operationId":"getEmailConfigUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eMailConfigName","in":"query","description":"eMailConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Admin"],"summary":"Create email configuration","description":"Create email configuration","operationId":"createEmailConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"eMailConfiguration","description":"eMailConfiguration","required":true,"schema":{"$ref":"#/definitions/EMailConfiguration"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Admin"],"summary":"Update email configuration","description":"Update email configuration","operationId":"updateEmailConfigUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"eMailConfiguration","description":"eMailConfiguration","required":true,"schema":{"$ref":"#/definitions/EMailConfiguration"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["Admin"],"summary":"Delete email configuration","description":"Delete email configuration","operationId":"deleteEmailConfigUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"eMailConfigName","in":"query","description":"eMailConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/admin/email/configs":{"get":{"tags":["Admin"],"summary":"Get all email configurations","description":"Get all email configuration","operationId":"getAllEmailConfigsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EMailConfiguration"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/email/confirmaition":{"get":{"tags":["Security"],"summary":"Email Confirmation","description":"Email Confirmation","operationId":"emailConfirmationUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/getUserDetails":{"get":{"tags":["Security"],"summary":"Get user details","description":"Get user details","operationId":"getUserDetailsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/ldap/usergroups":{"get":{"tags":["Security"],"summary":"Read user groups from LDAP Using API","description":"Read user groups from LDAP Using API","operationId":"readUserGroupsFromLDAPUsingAPIUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pageNumber","in":"query","description":"pageNumber","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","format":"int32"},{"name":"groupSearchBase","in":"query","description":"groupSearchBase","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/request/forgot/password":{"post":{"tags":["Security"],"summary":"Request forgot password","description":"Request forgot password","operationId":"requestResetPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"email","in":"query","description":"email","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/reset/initial/password":{"post":{"tags":["Security"],"summary":"Reset initial password","description":"Reset initial password","operationId":"resetInitialPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRequest","description":"userRequest","required":true,"schema":{"$ref":"#/definitions/ResetPassword"}},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/reset/password":{"post":{"tags":["Security"],"summary":"Reset password","description":"Reset password","operationId":"resetPasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRequest","description":"userRequest","required":true,"schema":{"$ref":"#/definitions/ResetPassword"}},{"name":"token","in":"query","description":"token","required":true,"type":"string"},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/roles":{"get":{"tags":["Security"],"summary":"Get all roles","description":"Get all roles","operationId":"getAllRolesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Role"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/roles/create":{"post":{"tags":["Security"],"summary":"Create role","description":"Create role","operationId":"createRoleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/Role"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/roles/delete":{"delete":{"tags":["Security"],"summary":"Delete role","description":"Delete role","operationId":"deleteRoleUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/admin/roles/update":{"put":{"tags":["Security"],"summary":"Update role","description":"Update role","operationId":"updateRoleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/Role"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/roles/{name}":{"get":{"tags":["Security"],"summary":"Get role","description":"Get role","operationId":"getRoleUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Role"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/signup/user":{"post":{"tags":["Security"],"summary":"Signup user","description":"Signup user","operationId":"signupUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRequest","description":"userRequest","required":true,"schema":{"$ref":"#/definitions/SignupUser"}},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/usergroups":{"get":{"tags":["Security"],"summary":"Get all user groups ","description":"Get all user groups","operationId":"getAllUserGroupsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserGroup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/usergroups/create":{"post":{"tags":["Security"],"summary":"Create user group","description":"Create user group","operationId":"createUserGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userGroup","description":"userGroup","required":true,"schema":{"$ref":"#/definitions/UserGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/usergroups/delete":{"delete":{"tags":["Security"],"summary":"Delete user group ","description":"Delete user group","operationId":"deleteUserGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/admin/usergroups/update":{"put":{"tags":["Security"],"summary":"Update user group","description":"Update user group","operationId":"updateUserGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userGroup","description":"userGroup","required":true,"schema":{"$ref":"#/definitions/UserGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/usergroups/{name}":{"get":{"tags":["Security"],"summary":"Get user-group by group name","description":"Get user-group by group name","operationId":"getUserGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/users":{"get":{"tags":["Security"],"summary":"Get all users","description":"Get all users","operationId":"getAllUsersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageable","description":"pageable","required":false,"schema":{"$ref":"#/definitions/Pageable"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/User"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/users/create":{"post":{"tags":["Security"],"summary":"Create user","description":"Create user","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRequest","description":"userRequest","required":true,"schema":{"$ref":"#/definitions/User"}},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/users/delete":{"delete":{"tags":["Security"],"summary":"Delete user","description":"Delete user","operationId":"deleteUserUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"login","in":"query","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/admin/users/update":{"put":{"tags":["Security"],"summary":"Update user","description":"Update user","operationId":"updateUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/User"}},{"name":"passwordRuleConfigName","in":"query","description":"passwordRuleConfigName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/admin/users/{login}":{"get":{"tags":["Security"],"summary":"Get user","description":"Get user","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"login","in":"path","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/anonymous/token":{"get":{"tags":["Security"],"summary":"Get anonymous token for requested resource","description":"Get anonymous token for requested resource","operationId":"getUserDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"resource","in":"query","description":"resource","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/aggregations":{"post":{"tags":["AppStore"],"summary":"Get related users","description":"Get related users","operationId":"getReleatedUsersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/RecommendationUser"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appactivity/app":{"post":{"tags":["AppStore"],"summary":"Get applications","description":"Get application detils","operationId":"getAppActivityAppUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"idsList","description":"idsList","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appactivity/defaultRecommendations":{"get":{"tags":["AppStore"],"summary":"Get past application activity for default Recommendations","description":"Get past application activity","operationId":"getAppActivityPastForDefaultrecommendationsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"duration","in":"query","description":"History duration in Days ","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TrendingAppData"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appactivity/past":{"get":{"tags":["AppStore"],"summary":"Get past application activity","description":"Get past application activity","operationId":"getAppActivityPastUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"duration","in":"query","description":"History duration in Days ","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/TrendingAppData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appactivity/user/{userId}":{"get":{"tags":["AppStore"],"summary":"Get application activity by user","description":"Get application activity by user","operationId":"getAppActivityByUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appactivity/users":{"get":{"tags":["AppStore"],"summary":"Get application activity for users","description":"Get activity for users","operationId":"getAppActivityForUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"duration","in":"query","description":"Duration in Days ","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserAppData"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/apps":{"get":{"tags":["AppStore"],"summary":"Get all applications","description":"Get all applications","operationId":"getAppsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/appstore/analytics/appstats":{"get":{"tags":["AppStore"],"summary":"Get application statistics","description":"Get application statistics","operationId":"getAppStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/authenticate":{"get":{"tags":["Security"],"summary":"Authenticate user","description":"Authenticate user","operationId":"authenticateUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"username","in":"query","description":"username","required":true,"type":"string"},{"name":"password","in":"query","description":"password","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/createTokenCsr":{"get":{"tags":["paymentus-controller"],"summary":"createTokenCsr","operationId":"createTokenCsrUsingGET","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"name":"contractNum","in":"query","description":"contractNum","required":true,"type":"string"},{"name":"amt","in":"query","description":"amt","required":true,"type":"string"},{"name":"fname","in":"query","description":"fname","required":true,"type":"string"},{"name":"mname","in":"query","description":"mname","required":true,"type":"string"},{"name":"lname","in":"query","description":"lname","required":true,"type":"string"},{"name":"zip","in":"query","description":"zip","required":true,"type":"string"},{"name":"phone","in":"query","description":"phone","required":true,"type":"string"},{"name":"eAdd","in":"query","description":"eAdd","required":false,"type":"string"},{"name":"cCode","in":"query","description":"cCode","required":true,"type":"string"},{"name":"autoPay","in":"query","description":"autoPay","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/createTokenCustomer":{"get":{"tags":["paymentus-controller"],"summary":"createTokenCustomer","operationId":"createTokenCustomerUsingGET","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"name":"contractNum","in":"query","description":"contractNum","required":true,"type":"string"},{"name":"amt","in":"query","description":"amt","required":true,"type":"string"},{"name":"fname","in":"query","description":"fname","required":true,"type":"string"},{"name":"mname","in":"query","description":"mname","required":true,"type":"string"},{"name":"lname","in":"query","description":"lname","required":true,"type":"string"},{"name":"eAdd","in":"query","description":"eAdd","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"string"},{"name":"cCode","in":"query","description":"cCode","required":true,"type":"string"},{"name":"allowPayLater","in":"query","description":"allowPayLater","required":true,"type":"boolean"},{"name":"dueByDate","in":"query","description":"dueByDate","required":true,"type":"string"},{"name":"autoPay","in":"query","description":"autoPay","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/pdf/GetSurveyExt":{"get":{"tags":["cloudseer-pdf-controller"],"summary":"retrieveSurveyExt","operationId":"retrieveSurveyExtUsingGET","consumes":["application/json"],"produces":["text/plain"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/pdf/NewViewBill":{"get":{"tags":["cloudseer-pdf-controller"],"summary":"downloadNewPDFFileBill","operationId":"downloadNewPDFFileBillUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"docId","in":"query","description":"docId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/pdf/ViewBill":{"get":{"tags":["cloudseer-pdf-controller"],"summary":"downloadPDFFile","operationId":"downloadPDFFileUsingGET","consumes":["application/json"],"produces":["application/pdf"],"parameters":[{"name":"docId","in":"query","description":"docId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/pdf/ViewBillTest":{"get":{"tags":["cloudseer-pdf-controller"],"summary":"downloadLocalPDFFile","operationId":"downloadLocalPDFFileUsingGET","consumes":["application/json"],"produces":["application/pdf"],"parameters":[{"name":"docId","in":"query","description":"docId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/pdf/correspondencePrintPreview":{"post":{"tags":["cloudseer-pdf-controller"],"summary":"correspondencePrintPreview","operationId":"correspondencePrintPreviewUsingPOST","consumes":["application/json"],"produces":["application/pdf"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/properties/overrideuser":{"get":{"tags":["enhanced-portal-config-controller"],"summary":"getProperty","operationId":"getPropertyUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cloudseer/validateCashReceipt":{"get":{"tags":["receipt-validation-controller"],"summary":"validateCashReceipt","operationId":"validateCashReceiptUsingGET","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"name":"accNum","in":"query","description":"accNum","required":true,"type":"string"},{"name":"receiptNum","in":"query","description":"receiptNum","required":true,"type":"string"},{"name":"receiptAmt","in":"query","description":"receiptAmt","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configBuilder/deploy":{"post":{"tags":["Cloudseer"],"summary":"Hot Deploy config builder","description":"Deploy Configbulider","operationId":"deployConfigBuilderUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"builderClass","in":"query","description":"builderClass","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/allconfigs":{"get":{"tags":["Configuration"],"summary":"Get all configuration properties","description":"Get all configuration properties","operationId":"getAllConfiguarationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group":{"get":{"tags":["Configuration"],"summary":"Get all configuration groups","description":"Get all configuration groups","operationId":"getAllConfigGroupsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Configuration"],"summary":"Add configuration group","description":"Add configuration group","operationId":"addConfigGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"configurationGroup","description":"configurationGroup","required":true,"schema":{"$ref":"#/definitions/ConfigurationGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Configuration"],"summary":"Update configuration group","description":"Update configuration group","operationId":"updateConfigGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"configurationGroup","description":"configurationGroup","required":true,"schema":{"$ref":"#/definitions/ConfigurationGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group/delete/{name}":{"delete":{"tags":["Configuration"],"summary":"Delete configuration group","description":"Delete configuration group","operationId":"deleteConfigGroupNameUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/appconfig/group/property":{"post":{"tags":["Configuration"],"summary":"Add configuration property","description":"Add configuration property","operationId":"addConfigPropertyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"configurationProperty","description":"configurationProperty","required":true,"schema":{"$ref":"#/definitions/ConfigurationProperty"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["Configuration"],"summary":"Update configuration property","description":"Update configuration property","operationId":"updateConfigPropertyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"configurationProperty","description":"configurationProperty","required":true,"schema":{"$ref":"#/definitions/ConfigurationProperty"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group/{groupName}/property/delete/{name}":{"delete":{"tags":["Configuration"],"summary":"Delete configuration property","description":"Delete configuration property","operationId":"deleteConfigPropertyUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupName","in":"path","description":"groupName","required":true,"type":"string"},{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/appconfig/group/{groupName}/property/{name}":{"get":{"tags":["Configuration"],"summary":"Get configuration property details","description":"Get configuration property details","operationId":"getConfigPropertyDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupName","in":"path","description":"groupName","required":true,"type":"string"},{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group/{grpName}/property":{"get":{"tags":["Configuration"],"summary":"Get configurations by group","description":"Get configurations by group","operationId":"getConfigPropertiesByGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"grpName","in":"path","description":"grpName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group/{grpName}/propertyMap":{"get":{"tags":["Configuration"],"summary":"Get configurations map by group","description":"Get configurations Map by group","operationId":"getConfigPropertiesMapByGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"grpName","in":"path","description":"grpName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/group/{name}":{"get":{"tags":["Configuration"],"summary":"Get configuration group details","description":"Get configuration group details","operationId":"getConfigGroupDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/appconfig/loginurl":{"get":{"tags":["Configuration"],"summary":"Get login url","description":"Get login url","operationId":"getAuthenticationConfigPropertyDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/browser/title":{"get":{"tags":["Configuration"],"summary":"Get Browser Title And Fav Icon","description":"Get Browser Title And Fav Icon","operationId":"getBrowserTitleAndFavIconUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/expressionengine/add":{"post":{"tags":["Configuration"],"summary":"Add Expression Engine configuration","description":"Add Expression Engine configuration","operationId":"addJEXLConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"jEXLConfigModel","description":"jEXLConfigModel","required":true,"schema":{"$ref":"#/definitions/ExpressionEngineConfiguration"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/expressionengine/delete/{id}":{"delete":{"tags":["Configuration"],"summary":"Delete Expression configuration","description":"Delete Expression configuration","operationId":"deleteExpressionConfigModelUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/expressionengine/findbyname/{name}":{"get":{"tags":["Configuration"],"summary":"Get Expression Engine configuration By Name","description":"Get Expression Engine configuration By Name","operationId":"getJEXLConfigurationByNameUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/expressionengine/getAll":{"get":{"tags":["Configuration"],"summary":"Get all Expression Engine configuration","description":"Get all Expression Engine configuration","operationId":"getAllExpressionConfigurationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsBroker/activeMq/metrics/broker/{name}":{"get":{"tags":["Configuration"],"summary":"Get metrics for ActiveMQ broker","description":"Get metrics for ActiveMQ broker","operationId":"getMetricsForActiveMQBrokerUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsBroker/activeMq/metrics/getAll":{"get":{"tags":["Configuration"],"summary":"Get metrics for all ActiveMQ brokers","description":"Get metrics for all ActiveMQ brokers","operationId":"getMetricsForAllActiveMQBrokersUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/broker/add":{"post":{"tags":["Configuration"],"summary":"Add jms broker configuration","description":"Add jms broker configuration","operationId":"addBrokerConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"jmsBrokerConfig","description":"jmsBrokerConfig","required":true,"schema":{"$ref":"#/definitions/JmsBrokerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/broker/delete/{name}":{"delete":{"tags":["Configuration"],"summary":"Delete jms broker configuration","description":"Delete jms broker configuration","operationId":"deleteJmsBrokerConfigUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/jmsconfiguration/broker/getAll":{"get":{"tags":["Configuration"],"summary":"Get all jms broker configurations","description":"Get all jms broker configurations","operationId":"getAllBrokerConfigurationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/broker/update":{"put":{"tags":["Configuration"],"summary":"Update jms broker configuration","description":"Update jms broker configuration","operationId":"updateBrokerConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"brokerConfiguration","description":"brokerConfiguration","required":true,"schema":{"$ref":"#/definitions/JmsBrokerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/broker/{name}":{"get":{"tags":["Configuration"],"summary":"Get jms broker configuration details","description":"Get jms broker configuration details","operationId":"getBrokerConfigurationDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/listener/add":{"post":{"tags":["Configuration"],"summary":"Add jms listener configuration","description":"Add jms listener configuration","operationId":"addListenerConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"listenerConfiguration","description":"listenerConfiguration","required":true,"schema":{"$ref":"#/definitions/JmsListenerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/listener/delete/{listenerConfigName}":{"delete":{"tags":["Configuration"],"summary":"Delete jms listener configuration","description":"Delete jms listener configuration","operationId":"deleteListenerConfigurationUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"listenerConfigName","in":"path","description":"listenerConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/jmsconfiguration/listener/initiateListenerBinding/{listenerConfigName}":{"get":{"tags":["Configuration"],"summary":"Bind listener","description":"Get jms listener configuration","operationId":"initiateListenerBindingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"listenerConfigName","in":"path","description":"listenerConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/listener/update":{"put":{"tags":["Configuration"],"summary":"Update jms listener configuration","description":"Update jms listener configuration","operationId":"updateListenerConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"listenerConfiguration","description":"listenerConfiguration","required":true,"schema":{"$ref":"#/definitions/JmsListenerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/jmsconfiguration/listener/{brokerName}/get":{"get":{"tags":["Configuration"],"summary":"Get jms listener configuration","description":"Get jms listener configuration","operationId":"getListenerConfigurationsByBrokerUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"brokerName","in":"path","description":"brokerName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaBroker/metrics/broker/{name}":{"get":{"tags":["Configuration"],"summary":"Get metrics for kafka broker","description":"Get metrics for kafka broker","operationId":"getMetricsForKafkaBrokerUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaBroker/metrics/getAll":{"get":{"tags":["Configuration"],"summary":"Get metrics for all kafka brokers","description":"Get metrics for all kafka brokers","operationId":"getMetricsForAllKafkaBrokersUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/broker/add":{"post":{"tags":["Configuration"],"summary":"Add kafka broker configuration","description":"Add kafka broker configuration","operationId":"addKafkaConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"KafkaConfig","description":"KafkaConfig","required":true,"schema":{"$ref":"#/definitions/KafkaConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/broker/delete/{kafkaConfigName}":{"delete":{"tags":["Configuration"],"summary":"Delete kafka broker configuration","description":"Delete kafka broker configuration","operationId":"deleteKafkaConfigUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"kafkaConfigName","in":"path","description":"kafkaConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/kafkaconfiguration/broker/getAll":{"get":{"tags":["Configuration"],"summary":"Get all kafka broker configuration","description":"Get all kafka broker configuration","operationId":"getAllKafkaConfigurationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/broker/update":{"put":{"tags":["Configuration"],"summary":"Update kafka broker configuration","description":"Update kafka broker configuration","operationId":"updateKafkaConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"kafkaConfiguration","description":"kafkaConfiguration","required":true,"schema":{"$ref":"#/definitions/KafkaConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/broker/{name}":{"get":{"tags":["Configuration"],"summary":"Get kafka broker configuration details","description":"Get kafka broker configuration details","operationId":"getBrokerConfigurationDetailsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/listener/add":{"post":{"tags":["Configuration"],"summary":"Add kafka listener configuration","description":"Add kafka listener configuration","operationId":"addkafkaListenerConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"kafkaListenerConfig","description":"kafkaListenerConfig","required":true,"schema":{"$ref":"#/definitions/KafkaListenerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/listener/delete/{listenerConfigName}":{"delete":{"tags":["Configuration"],"summary":"Delete kafka listener configuration","description":"Delete kafka listener configuration","operationId":"deleteListenerConfigurationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"listenerConfigName","in":"path","description":"listenerConfigName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/configuration/kafkaconfiguration/listener/getAll":{"get":{"tags":["Configuration"],"summary":"Get all kafka listeners configurations","description":"Get all kafka listeners configurations","operationId":"getAllListenerConfigUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/kafkaconfiguration/listener/update":{"put":{"tags":["Configuration"],"summary":"Update kafka listener configuration","description":"Update kafka listener configuration","operationId":"updateKafkaListenerConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"kafkaListenerConfig","description":"kafkaListenerConfig","required":true,"schema":{"$ref":"#/definitions/KafkaListenerConfig"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/pwa":{"get":{"tags":["Configuration"],"summary":"Get PWA enabled/disabled status","description":"Get PWA enabled/disabled status","operationId":"isPwaEnabledUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solution","in":"query","description":"solution","required":false,"type":"string"},{"name":"solutionType","in":"query","description":"solutionType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/configuration/refresh/cache/":{"put":{"tags":["Configuration"],"summary":"Refresh L2 Cache","description":"Refresh L2 Cache","operationId":"refreshL2CacheUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"className","in":"query","description":"className","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainactivity/find":{"get":{"tags":["Admin"],"summary":"Find DomainaAtivity jobStartTime","description":"Find DomainaAtivity jobStartTime","operationId":"findJobStartTimeUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"date-time"}},"201":{"description":"Find DomainaAtivity jobStartTime request successful","schema":{"type":"string","format":"date-time"}},"401":{"description":"Unauthorized"},"500":{"description":"Find DomainaAtivity jobStartTime request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainactivity/update":{"post":{"tags":["Admin"],"summary":"Update DomainaAtivity jobStartTime","description":"Update DomainaAtivity jobStartTime","operationId":"updateJobStartTimeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"jobStartTime","in":"query","description":"Ratings Request","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Update DomainaAtivity jobStartTime request successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Update DomainaAtivity jobStartTime request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/alldomainelements":{"put":{"tags":["Admin"],"summary":"Get list of domainelements","description":"Get domainelements request","operationId":"getAllDomainelementsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"type","in":"query","description":"DomainElement Type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get list of domainelements successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get list of domainelements error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/definition":{"put":{"tags":["Admin"],"summary":"Register search ratings request","description":"Register domainelement request","operationId":"saveOrUpdateOrDeleteDefinitionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"Create Version Request","required":true,"schema":{"$ref":"#/definitions/CreateVersionRequestOfIDomainElementDefinition"}},{"name":"createVersion","in":"query","description":"Create Version or Not","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Register domainelement successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Register domainelement error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/domainelements":{"put":{"tags":["Admin"],"summary":"Get list of domainelements","description":"Get domainelements request","operationId":"getDomainelementsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"Rating Request","required":false,"schema":{"$ref":"#/definitions/RatingRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get list of domainelements successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get list of domainelements error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/feedback/delete":{"post":{"tags":["Admin"],"summary":"Delete feedback request","description":"Delete feedback request","operationId":"deleteFeedbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"feedbackRequest","description":"Feedback Request","required":true,"schema":{"$ref":"#/definitions/FeedbackRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Delete feedback request successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Delete feedback request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/feedback/get":{"post":{"tags":["Admin"],"summary":"Get feedbacks","description":"Get feedbacks","operationId":"getFeedbacksUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"DomaimElement Request","required":true,"schema":{"$ref":"#/definitions/DomainElementRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get feedbacks successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get recent feedbacks error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/feedback/history":{"post":{"tags":["Admin"],"summary":"Get feedbacks history","description":"Get feedbacks history","operationId":"getFeedbackHistoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"no_of_days","in":"query","description":"No of Days","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get feedbacks successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get recent feedbacks error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/feedback/register":{"post":{"tags":["Admin"],"summary":"Register feedback request","description":"Register feedback request","operationId":"registerFeedbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"feedbackRequest","description":"Feedback Request","required":true,"schema":{"$ref":"#/definitions/FeedbackRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FeedbackModel"}},"201":{"description":"Register feedback request successful","schema":{"$ref":"#/definitions/FeedbackModel"}},"401":{"description":"Unauthorized"},"500":{"description":"Register feedback request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/installs/register":{"post":{"tags":["Admin"],"summary":"Register opinion request","description":"Register opinion request","operationId":"registerInstallsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"installationRequest","description":"Opinion Request","required":true,"schema":{"$ref":"#/definitions/InstallationRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Register opinion request successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Register opinion request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/listofdomainelements":{"put":{"tags":["Admin"],"summary":"Get list of definitions","description":"Get domainelement request","operationId":"listOfDomainElementsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"Create Version Request","required":true,"schema":{"$ref":"#/definitions/DomainElementViewRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get list of definitions successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get list of definitions error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/opinion/get":{"post":{"tags":["Admin"],"summary":"Get feedbacks","description":"Get opinion","operationId":"getOpinionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"DomaimElement Request","required":true,"schema":{"$ref":"#/definitions/DomainElementRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FeedbackModel"}},"201":{"description":"Get opinion successful","schema":{"$ref":"#/definitions/FeedbackModel"}},"401":{"description":"Unauthorized"},"500":{"description":"Get recent opinion error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/opinion/register":{"post":{"tags":["Admin"],"summary":"Register opinion request","description":"Register opinion request","operationId":"registerOpinionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"feedbackHistoryRequest","description":"Opinion Request","required":true,"schema":{"$ref":"#/definitions/FeedbackHistoryRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Register opinion request successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Register opinion request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/rating/history":{"post":{"tags":["Admin"],"summary":"Get ratings history","description":"Get ratings history","operationId":"getRatingHistoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"no_of_days","in":"query","description":"No of Days","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get feedbacks successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get recent feedbacks error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/rating/register":{"post":{"tags":["Admin"],"summary":"Register rating request","description":"Register rating request","operationId":"registerRatingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ratingHistoryRequest","description":"Rating History Request","required":true,"schema":{"$ref":"#/definitions/RatingHistoryRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Register rating request successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Register ratings request error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/search/domainelements":{"put":{"tags":["Admin"],"summary":"Get list of domainelements","description":"Get domainelement request","operationId":"searchDomainElementsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"Create Version Request","required":true,"schema":{"$ref":"#/definitions/DomainElementSearchRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get list of domainelements successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get list of domainelements error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/domainelement/search/templates":{"put":{"tags":["Admin"],"summary":"Get list of templates","description":"Get domainelement request","operationId":"searchTemplatesUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"Create Version Request","required":true,"schema":{"$ref":"#/definitions/TemplateRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"201":{"description":"Get list of templates successful","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"500":{"description":"Get list of templates error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/changePassword":{"post":{"tags":["Admin"],"summary":"Change Password","description":"Chnage Password","operationId":"changePasswordUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"User Name","required":true,"type":"string"},{"name":"newPassword","in":"query","description":"New Password","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Password changed successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"change password error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/createUpdateUser":{"post":{"tags":["Admin"],"summary":"Create/Update user","description":"Create/Update user","operationId":"createUpdateUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRequest","description":"userRequest","required":true,"schema":{"$ref":"#/definitions/UserRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User/Update user successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Create/Update user error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/createUpdateUserRole":{"post":{"tags":["Admin"],"summary":"Create user role","description":"Create user role","operationId":"createUpdateUserRoleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userRoleRequest","description":"userRoleRequest","required":true,"schema":{"$ref":"#/definitions/UserRoleRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User role created successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Create user role error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/deleteRole":{"post":{"tags":["Admin"],"summary":"Delete user role","description":"Delete user role","operationId":"deleteRoleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleName","in":"query","description":"Role Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User role deleted successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Delete user role error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/deleteUser":{"post":{"tags":["Admin"],"summary":"Delete user","description":"Delete user","operationId":"deleteUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"User Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User deleted successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Delete user role error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/disableUser":{"post":{"tags":["Admin"],"summary":"Disable User","description":"Disable User","operationId":"disableUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"User Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User Disable successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Disable User role error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/enableUser":{"post":{"tags":["Admin"],"summary":"Enable User","description":"Enable User","operationId":"enableUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"User Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"User Enable successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Enable User role error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/getRolesList":{"post":{"tags":["Admin"],"summary":"Get All Roles","description":"Get Roles List","operationId":"getRolesListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleName","in":"query","description":"Role Name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Get Roles list successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Get Roles list error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/getUsersList":{"post":{"tags":["Admin"],"summary":"Get All Users","description":"Get Users List","operationId":"getUsersListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"User Name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Get users list successfully","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Get users list error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/reindex/self/withmetadata":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"selfWithMetaDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"},{"name":"indexName","in":"query","description":"Index Name","required":true,"type":"string"},{"name":"settingsPath","in":"query","description":"Settings Path","required":true,"type":"string"},{"name":"mappingsPath","in":"query","description":"Mappings Path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/reindex/self/withmso":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"selfWithMSOUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"msoClassName","in":"query","description":"MSO Class Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/reindex/sources/nonmso":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"reindexUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"},{"name":"sourceIndexNames","in":"query","description":"Source Index Name","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"destIndexName","in":"query","description":"Destination Index Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/reindex/sources/withmso":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"createIndexUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"},{"name":"sourceIndexNames","in":"query","description":"Source Index Name","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"msoClassName","in":"query","description":"MSO Class Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/upgrade":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"upgradeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/upgrade/index":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"upgradeIndexUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"},{"name":"indexName","in":"query","description":"Index Name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/elasticsearch/upgrade/indices":{"post":{"tags":["Admin"],"summary":"Reindexing the index","description":"Reindexing the index","operationId":"upgradeIndicesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clusterName","in":"query","description":"Cluster Name","required":true,"type":"string"},{"name":"indices","in":"query","description":"Index Name","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Reindexing the index successful","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"500":{"description":"Reindexing the index error"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/favorite/add":{"post":{"tags":["Cloudseer"],"summary":"Save favorite","description":"Save favorite","operationId":"createFavoriteUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"favorite","description":"favorite","required":true,"schema":{"$ref":"#/definitions/Favorite"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/favorite/delete":{"delete":{"tags":["Cloudseer"],"summary":"delete favorite","description":"delete favorite","operationId":"deletefavoriteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"favorite","description":"favorite","required":true,"schema":{"$ref":"#/definitions/Favorite"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/favorites/{componenttype}":{"get":{"tags":["Cloudseer"],"summary":"Get all favorites","description":"Get all favorites","operationId":"getAllFavoritesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"componenttype","in":"path","description":"componenttype","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/getauthtype":{"get":{"tags":["Security"],"summary":"Auth type","description":"Auth type","operationId":"getAuthTypeUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/getsession":{"get":{"tags":["Security"],"summary":"session information","description":"session information","operationId":"getSessionUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/googlesearchengineconfig/addgooglesearchengineconfig/add":{"post":{"tags":["Configuration"],"summary":"Create google search engine configuration","description":"Create google search engine configuration","operationId":"createGoogleSearchEngineconfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"googleSearchEngineConfigRequest","description":"googleSearchEngineConfigRequest","required":true,"schema":{"$ref":"#/definitions/GoogleSearchEngineConfigModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/googlesearchengineconfig/deletegooglesearchengineconfig/delete/{id}":{"get":{"tags":["Configuration"],"summary":"Delete google search engine configuration","description":"Delete google search engine configuration","operationId":"deleteGoogleSearchEngineconfigUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/googlesearchengineconfig/findgooglesearchengineconfig/{id}":{"get":{"tags":["Configuration"],"summary":"Get google search engine details","description":"Get google search engine details","operationId":"getGoogleSearchEngineconfigDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/googlesearchengineconfig/googlesearchengineconfigs":{"get":{"tags":["Configuration"],"summary":"Get all  google search engine configuraitons","description":"Get all  google search engine configuraitons","operationId":"getAllGoogleSearchEngineconfigDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/googlesearchengineconfig/udpategooglesearchengineconfig/update":{"put":{"tags":["Configuration"],"summary":"Update google search engine configuration","description":"Update google search engine configuration","operationId":"updateGoogleSearchEngineconfigUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"googleSearchEngineConfigRequest","description":"googleSearchEngineConfigRequest","required":true,"schema":{"$ref":"#/definitions/GoogleSearchEngineConfigModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/grouprolemapping/create":{"post":{"tags":["Security"],"summary":"Create group role mapping","description":"Create group role mapping","operationId":"publishRolePermissionMappingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"groupRoleMappingRequest","description":"groupRoleMappingRequest","required":true,"schema":{"$ref":"#/definitions/GroupRoleMappingRequest"}}],"responses":{"201":{"description":"Created","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/grouprolemapping/find/{groupId}":{"get":{"tags":["Security"],"summary":"Get group role mapping","description":"Get group role mapping","operationId":"findGroupRoleMappingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/health/serverReadiness":{"get":{"tags":["Admin"],"summary":"Get Server Status","description":"Get Server Status","operationId":"getServeStatusDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/is_authenticated":{"get":{"tags":["Security"],"summary":"Is user authenticated","description":"Is user authenticated","operationId":"isAuthenticatedUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/jdbcdatasource/add":{"post":{"tags":["Admin"],"summary":"Add j2ee datasource","description":"Add j2ee datasouce","operationId":"addDataSourceUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datasource","description":"datasource","required":true,"schema":{"$ref":"#/definitions/SqlDatasource"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/jdbcdatasource/allDatasourcestats/":{"get":{"tags":["Admin"],"summary":"Get all j2ee datasource statistics","description":"Get all j2ee datasouce statistics","operationId":"getAllDatasourceStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/jdbcdatasource/datasourcestats/{datasourcename}":{"get":{"tags":["Admin"],"summary":"Get j2ee datasource statistics for given datasource.","description":"Get j2ee datasouce statistics for given datasource.","operationId":"getDatasourceStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasourcename","in":"path","description":"datasourcename","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/jdbcdatasource/delete/{datasourcename}":{"delete":{"tags":["Admin"],"summary":"Delete j2ee datasource","description":"Delete j2ee datasouce","operationId":"deleteDataSourceUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasourcename","in":"path","description":"datasourcename","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/jdbcdatasource/list":{"get":{"tags":["Admin"],"summary":"Get all j2ee datasources","description":"Get all j2ee datasouces","operationId":"getAllDataSourcesUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/jdbcdatasource/{datasourcename}":{"get":{"tags":["Admin"],"summary":"Get j2ee datasource details","description":"Get j2ee datasouce details","operationId":"getDatasourceDetailsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasourcename","in":"path","description":"datasourcename","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/kerberos/config/byId/{id}":{"get":{"tags":["Configuration"],"summary":"Get Kerberos Configuration","description":"Get Kerberos configuration by kerberos config name","operationId":"getConfigGroupDetailsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/kerberos/config/{name}":{"get":{"tags":["Configuration"],"summary":"Get Kerberos Configuration","description":"Get Kerberos configuration by kerberos config name","operationId":"getConfigGroupDetailsUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/license/deactivateLicense":{"get":{"tags":["Admin"],"summary":"Deactivate license","description":"Deactivate license","operationId":"deactivateLicenseUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/license/getLicenseDetails":{"get":{"tags":["Admin"],"summary":"Get license details","description":"Get license details","operationId":"getLicenseDetailsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/license/installLicense":{"post":{"tags":["Admin"],"summary":"Install license","description":"Install license","operationId":"installLicenseUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"publicKey","in":"query","description":"publicKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/license/validateLicense":{"get":{"tags":["Admin"],"summary":"Validate license","description":"Validate license","operationId":"validateLicenseUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/log/config/all/":{"get":{"tags":["Configuration"],"summary":"Get all log  configuration","description":"Get all log configuration","operationId":"getAllLogConfigurationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/log/config/create/":{"post":{"tags":["Configuration"],"summary":"Create log configuration","description":"Create  log configuration","operationId":"createLogConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"loggerModel","description":"loggerModel","required":true,"schema":{"$ref":"#/definitions/LogConfigurationModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description"
[...]
